.bg-white{
	background-color: lightgrey;
}
.bg-dimgrey{
	background-color:#333333;
}
.bg-grey{
	background-color: #3b3b3b;
}
.bg-lightgrey{
	background-color: #f1f3f3;
}
.bg-lightpink{
	background-color: #efdada;
}
.bg-red{
	background-color: #d9534fbf;
}
.bg-row1{
	background-image: url(http://www.ecomtopic.com/foxer/lookbook/pub/media/wysiwyg/foxer/stores/lookbook/static_block/banner/3.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 93vh;
}	

.bg-row2{
	background-image: url(http://www.ecomtopic.com/foxer/lookbook/pub/media/wysiwyg/foxer/stores/lookbook/static_block/banner/1.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
}	
.bg-row3{
	background-image: url(http://www.ecomtopic.com/foxer/lookbook/pub/media/wysiwyg/foxer/stores/lookbook/static_block/banner/4.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
}
.bg-new{
	background-image: url(https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
	background-position: center;
	background-size: cover;
	height: 70vh;
}
.bg-old{
	background-image: url(https://images.pexels.com/photos/5956/gift-brown-shopping-market.jpg?auto=compress&cs=tinysrgb&h=650&w=940);
	background-position: center;
	background-size: cover;
	height: 70vh;
}
.bg-sale{
	background-image: url(https://images.pexels.com/photos/1050244/pexels-photo-1050244.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-position: center;
	background-size: cover;
	height: 70vh;
}
.c-white{
	color:white;
	font-weight: bold;
}
.c-white-normal{
	color:white;
}
.c-black{
	color:black;
}
.c-lightgrey{
	color: #696969;
	letter-spacing: 1px;
}
.c-lightred{
	color:#d9534f;
}
.c-green{
	color:#8eb35a;
}
.font-40{
	font-size: 120px;
}
.font-17{
	font-size: 17px;
}
.font-20{
	font-size: 20px;
}
.family{
	font-family: ariel;
}
.l-spacing{
	letter-spacing: 1px;
}
.btn-shop{
	border-radius: 40px;
	 padding: 15px 70px; 
	 font-weight: bold;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.ikoni-social{
	border: 1px solid lightgrey; 
	border-radius: 60%;
	padding: 10px;
}
.ikoni-social:hover{
	background-color: white;
}

.info-red:hover{
	text-decoration: none;
	color:red;
}
.info-green:hover{
	text-decoration: none;
	color:green;
}

.shopping-options{
	font-size: 23px;
	cursor: pointer;
	font-family: ariel;
}

.btn-add{
	background-color: #d9534fbf;
	border:1px solid lightgrey;
	font-size: 12px;
	padding: 10px;
	color:white;
}
.btn-add:hover{
	background-color: grey;
	color:white;
}
.my-5{
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.p-bottom-2{
	padding-bottom: 2rem;
}
.p-bottom-1{
	padding-bottom: 1rem;
}
.m-bottom-1{
	margin-bottom: 1rem;
}
.my-2{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.sticky{
	position: sticky;
	top: 30px;
	left: 0;
}

.text-limited{
	font-size: 70px;
	margin-top: 350px;
}

.shop-dropdown{
	width: 70vw;
	height: 50vh;
}
.line-height{
	line-height: 37px;
}
.shop-women{
	width: 20%;
	float: left;
	padding-left: 30px;
}
.shop-naslov{
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
}
.bg-shop{
	background-image: url(http://surily.doradothemes.com/img/cms/dorado/menu/menu-01.png);
	background-position: top right;
	width: 40%;
	float: left;
	padding-left: 30px;
	height: 100%;
}
.pb-0{
	padding-bottom: 0;
}
.dropdown-menu li a:hover{
	background-color: white !important;
	text-decoration: none;
	color:red;
}
.btn-login{
	border-radius: 40px;
	 padding: 10px 70px; 
	 font-weight: bold;
	 background-color: #ea4e4e;
	 color:white;
}
.btn-login:hover{
	background-color: grey;
	color: white;
}
.bg-login-img{
	background-image: url(https://images.pexels.com/photos/374894/pexels-photo-374894.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-position: center;
	background-size: cover;
	height: 100%;	
}
.bg-login-color{
	background-color: #000000d1;
}

.left-0{
	left: 0 !important;
}
.width-14{
	width: 14vw;
}

@media screen and (max-width: 768px){
	.h1-media-font{
		font-size: 80px;
	}
	.media-p-left{
		padding-left: 100px;
	}
	.h3-media-font{
		font-size: 17px;
	}
	.sticky{
		position: relative;
		margin-bottom: 5rem;
		margin-top: -5rem;
	}
	.text-limited{
		font-size: 62px;
		margin-top: 280px;
	}
	.media-modal{
		width: 80% !important;
		margin-left: 75px;
	}
	.left-0{
	left: 0 !important;
	}
	.shop-women{
		width: 30%;
	}
	.media-font-12{
		font-size: 12px;
	}
	.media-continue-shopping{
		margin-bottom: 1rem;
	}
}


@media screen and (max-width: 425px){
	.h1-media-font{
		font-size: 40px;
	}
	.bg-row2{
		background-position: right;
	}
	.media-center{
		text-align: center;
	}
	.media-modal{
		width: 80% !important;
		margin-left: 46px;
	}
	.sticky{
		position: relative;
	}
	.text-limited{
		margin-top: 205px;
		font-size: 62px;
	}
	.txt-center-media{
		text-align: center;
	}
	.media-img-center{
		margin: 0 auto;
	}
	.shop-dropdown{
		width:100%;
	}
	.shop-women{
		width: 100%;
		padding-left: 5px;
	}
	.mb-15{
		margin-bottom: 15px;
	}
}


@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
